<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="2000" android:versionName="2.0" package="com.cyngn.hexo"
  xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:targetSdkVersion="21" android:minSdkVersion="21" />

    <uses-feature android:name="org.cyanogenmod.theme.v1" />

    <application
        android:label="@string/theme_name"
        android:icon="@drawable/ic_launcher"
        android:hasCode="false" />

    <meta-data android:name="org.cyanogenmod.theme.name" android:value="@string/theme_name" />
    <meta-data android:name="org.cyanogenmod.theme.author" android:value="@string/theme_author" />
    <meta-data android:name="org.cyanogenmod.theme.email" android:value="@string/theme_email" />
</manifest>